@{
    ViewData["Title"] = "Главная";
}

<div class="article">
    <div class="article__top">
        <div class="article__img-wrapper">
            <img src="images/avatar.png" alt="" class="article__img">
        </div>
        <p class="article__date">
            сегодня в 22:41
        </p>
    </div>

    <h3 class="h3-title">
        Twitter согласился на предложение о покупке от Илона Маска
    </h3>

    <div class="article__preview">
        <img src="images/preview.png" alt="" class="article__preview-img">
    </div>

    <p class="article__description">
        По <a href="#" class="link">информации</a> «Газета.Ru», следственный комитет РФ по запросу депутатов
        Госдумы
        возбудил уголовное дело по факту утечки данных пользователей «Яндекс.Еды».
    </p>

    <a href="article.html" class="article__link link">
        Подробнее
    </a>

    <div class="article__info">
        <div class="article__statistics">
            <img src="images/eye.svg" alt="" class="article__statistics-icon">
            <p class="article__statistics-count">
                15
            </p>
        </div>

        <div class="article__statistics">
            <img src="images/chat.svg" alt="" class="article__statistics-icon">
            <p class="article__statistics-count">
                15
            </p>
        </div>
    </div>
</div>