@{
    ViewData["Title"] = "Техническая поддержка";
}

<div class="article single-article">
    <h1 class="h1-title">
        Свяжитесь с нами
    </h1>
    <form action="" class="article__comments-form" method="POST">
        <div class="article__comments-wrapper">
            <input class="article__comments-input" type="text" placeholder="Имя">
            <input class="article__comments-input" type="text" placeholder="Email">
        </div>
        <textarea name="comment" class="article__comments-textarea article__support-textarea"
                  placeholder="Сообщение"></textarea>
        <button class="article__comments-submit" type="submit">
            Отправить
        </button>
    </form>
</div>